  .group-buttons {
    font-size: 0;
  }

  .buttons {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    border: none;
    letter-spacing: .5px;
    transition: all .2s linear;
  }

  .buttons.buttons-sm {
    padding: 11.5px 16px;
  }

  .buttons.buttons-md {
    padding: 15.5px 26px;
  }

  .buttons.buttons-block {
    display: block;
    width: 100%;
  }

  .buttons.buttons-primary {
    color: #000;
    background-color: #F1F1F1;
  }

  .buttons.buttons-primary:hover {
    background-color: #ccc;
  }

  .buttons.buttons-dark {
    color: #fff;
    background-color: #000;
  }

  .buttons.buttons-dark:hover {
    color: #000;
    background-color: #ccc;
  }

  .buttons.buttons-green {
    color: #fff;
    background-color: #4CAF50;
  }

  .buttons.buttons-green:hover {
    color: #000;
    background-color: #ccc;
  }

  .buttons.buttons-round {
    border-radius: 5px;
  }