header {
  width: 1500px;
  height: 1000px;
  background-position: center;
  background-size: cover;
  position: relative;
}

header .container {
  position: absolute;
  width: 100%;
  background-color: lightblue;
}