html, body, div, span, h1, h2, h3, h4, h5, h6, p, b, ul, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

body {
  background-color: #000000;
}

.main {
  max-width: 1500px;
  cursor: default;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}