html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, b,ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

ol, ul {
  list-style: none;
}

body {
  background-color: #f1f1f1;
}

.main {
  max-width: 1400px;
  margin: 0 16px 0;
}