.list-tag {
  font-size: 0;
}

.tag {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  font-family: "Raleway", sans-serif;
}

.tag.tag-dark {
  background-color: #000000;
  color: #ffffff;
  font-size: 15px;
  padding: 3.5px 8px;
}

.tag.tag-gray {
  background-color: #f1f1f1;
  color: #000;
  font-size: 12px;
  padding: 3px 8px;
}

.tag:not(:last-child):not(.tag-square):not(.tag-circle) {
  margin: 0 5px 16px 0;
}

.tag.tag-circle {
  border-radius: 50%;
}

